<!-- https://mdbootstrap.com/ -->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<title>Booking WebApp</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Daniel Martí­n Pérez de León">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="icon" th:href="@{/images/icon.png}" type="image/png">
<link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/png">
</head>





<body>

	<!-- header -->

	<header>
		<nav class="navbar bg-primary fixed-top navbar-expand-lg"
			data-bs-theme="dark">

			<div class="container-fluid d-flex flex-row justify-content-between">

				<div class="d-flex flex-grow-1">
					<img class="ms-3" th:src="@{/images/icon.png}"
						alt="icono principal" height="40">
					<h2 class="text-white ms-3">Booking WebApp</h2>
				</div>
				<div class="text-center flex-grow-1">
					<h6>
						Conectado como: <span th:text="${usuario.identificacion}"></span>
					</h6>
				</div>

				<div class="collapse navbar-collapse " id="header_menu">
					<div class="collapse navbar-collapse" id="navbarColor02">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/home">Inicio</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Features</a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>
	</header>


	<!-- MAin -->
	<main style="padding-bottom: 50px; padding-top: 50px">
		<div class="pt-5">

			<!-- Titulos -->
			<h1 class="text-center">Booking WebAPP</h1>
			<br /> <br />
			<h2 class="text-center">
				¡Bienvenido de nuevo <span th:text="${usuario.nombre}"></span> <span
					th:text="${usuario.apellidos}"></span>!
			</h2>
			<br /> <br />



			<!-- modal de los puestos  (los mensajes en si vienen de mi js, esto es sacado de bootstrap -->
			<div class="modal fade" id="Modal" tabindex="-1" role="dialog"
				aria-labelledby="ModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title text-black" id="ModalLabel">Error</h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<table class="table" id="tabla">
								<thead>
									<tr>
										<th>Hora</th>
										<th>Reserva</th>
									</tr>
								</thead>
								<tbody>
									<tr>
	
									</tr>
									<tr>
	
									</tr>
									<tr>


									</tr>
									<tr>

									</tr>
									<tr>

									</tr>
									<tr>

									</tr>
									<tr>

									</tr>
									<tr>

									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Ok</button>
						</div>
					</div>
				</div>
			</div>


			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
						id="elementos">



						<div class="col" th:each="puesto: ${puestos}">
							<div class="card shadow-sm">
								<div class="card-body" th:with="i=${puesto.get('id')-1}">
									<h2>
										<span th:text='${puesto.get("tipo")}'></span>: <span
											th:text='${puesto.get("id")}'></span>
									</h2>
									<th:block th:with="horas_libres=${horas[i]}">
										<th:block th:switch="${horas_libres}">
											<p class="card-text">
												<span th:case="0">Sin</span> <span th:case="8">Todas
													las</span> <span th:case="*" th:text="${horas_libres}"></span>
												horas libres
											</p>
										</th:block>
									</th:block>
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary"
											th:id='${puesto.get("id")}' onclick="verpuesto(this.id)">Ver</button>
									</div>
								</div>
							</div>
						</div>


					</div>


				</div>
			</div>
	</main>


	<!-- Footer -->
	<footer class="bg-dark text-white fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<p class="text-white">
						<small>Proyecto FG DAM 2023 Daniel Martí­n Pérez de León</small>
					</p>
					<p class="text-white" style="line-height: 0">
						<a href="https://github.com/DanielMartinPerezdeLeon/ProyectoFG"><small>GitHub</small></a>
					</p>
					<p class="text-white" style="line-height: 0">
						<small>Email: damarpele@gmail.com</small>
					</p>
				</div>
			</div>
		</div>
	</footer>


	<!-- js -->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript" type="text/javascript">var puestos = [(${puestos})];</script>
	<script type="text/javascript" th:src="@{/js/home.js}"></script>



</body>





</html>