<!-- https://mdbootstrap.com/ -->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<title>Booking WebApp</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Daniel Martí­n Pérez de León">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="icon" th:href="@{/images/icon.png}" type="image/png">
<link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/png">
</head>





<body>

	<!-- header -->

	<header>
		<nav class="navbar bg-primary fixed-top navbar-expand-lg"
			data-bs-theme="dark">

			<div class="container-fluid d-flex flex-row justify-content-between">

				<div class="d-flex flex-grow-1">
					<img class="ms-3" th:src="@{/images/icon.png}"
						alt="icono principal" height="40">
					<h2 class="text-white ms-3">Booking WebApp</h2>
				</div>
				<div class="text-center flex-grow-1">
					<h6>
						Conectado como: <span th:text="${usuario.identificacion}"></span>
					</h6>
				</div>

				<div class="collapse navbar-collapse " id="header_menu">
					<div class="collapse navbar-collapse" id="navbarColor02">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link" href="/home">Reservar</a></li>
							<th:block th:if="${usuario.rol > 1}">
								<li class="nav-item"><a class="nav-link"
									href="/ver_usuarios">Usuarios</a></li>
								<li class="nav-item"><a class="nav-link active"
									aria-current="page" href="/ver_puestos">Puestos</a></li>
							</th:block>
						</ul>
					</div>
				</div>

				<div>
					<button type="button" class="btn btn-outline-danger"
						id="cerrar_sesion" onclick="cerrarSesion()">Cerrar Sesión</button>
				</div>


			</div>
		</nav>
	</header>


	<!-- MAin -->
	<main style="padding-bottom: 50px; padding-top: 50px">
		<div class="pt-5">

			<!-- Titulos -->
			<h1 class="text-center">Booking WebAPP</h1>
			<br /> <br />
			<h2 class="text-center">Lista de puestos</h2>
			<br /> <br />



			<!-- modal de los puestos  (los mensajes en si vienen de mi js, esto es sacado de bootstrap -->
			<div class="modal fade" id="Modal" tabindex="-1" role="dialog"
				aria-labelledby="ModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header" style="background-color: #1790d0">
							<h3 class="modal-title text-black" id="ModalLabel">Error</h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body" id="modal-body">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch"
									id="flexSwitchCheckDefault" onclick="check()"> <label
									class="form-check-label" for="flexSwitchCheckDefault"
									id="label-switch">Activado</label>
							</div>
							<div>
								<br />
								<br />
								<button type="button" class="btn btn-outline-danger"
									id="reiniciar_horas" onclick="reiniciarHoras(this.id)">Reiniciar
									Horas</button>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal" onclick="cambiarEstado(this.id);">Ok</button>
						</div>
					</div>
				</div>
			</div>



			<!-- modal de crear puestos (los mensajes en si vienen de mi js, esto es sacado de bootstrap -->
			<div class="modal fade" id="ModalPuestoNuevo" tabindex="-1"
				role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header" style="background-color: #1790d0">
							<h3 class="modal-title text-black" id="ModalLabel">Puesto
								nuevo:</h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>

						<form action="#" id="nuevoPuestoForm"
							th:action="@{/puestos/registrar}" method="post"
							th:object="${nuevo_puesto}">
							<div class="modal-body">



								<!-- Tipo -->
								<div>
									<label>Tipo:</label>
									<div class="form-check">
										<input class="form-check-input" type="radio" th:name="tipo"
											id="radio1" value="Ordenador" th:field="*{tipo}" checked>
										<label class="form-check-label" for="radio1">
											Ordenador</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" th:name="tipo"
											id="radio2" value="Sala de reuniones" th:field="*{tipo}">
										<label class="form-check-label" for="radio2"> Sala de
											reuniones</label>
									</div>
								</div>

								<div class="form-check">
									<br /> <input id="estado" class="form-check-input"
										type="checkbox" th:name="estado" th:field="*{estado}" /> <label
										class="form-check-label" for="estado"> Estado</label>
								</div>



							</div>
							<div class="modal-footer">
								<button class="btn btn-secondary"
									data-bs-dismiss="modal" id="creaPuesto" type="submit">Crear</button>
							</div>

						</form>
					</div>
				</div>
			</div>




			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
						id="elementos">



						<div class="col" th:each="puesto: ${puestos}">
							<div class="card shadow-sm">
								<div class="card-body" th:with="i=${puesto.get('id')-1}">
									<h2>
										<span th:text='${puesto.get("tipo")}'></span>: <span
											th:text='${puesto.get("id")}'></span>
									</h2>


									<th:block th:switch='${puesto.get("estado")}'>
										<p class="card-text">
											<span th:case="true">Activo</span> <span th:case="false">No
												activo</span>
										</p>
									</th:block>


									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary"
											th:id='${puesto.get("id")}' onclick="verpuesto(this.id)">Ver</button>
									</div>
								</div>
							</div>
						</div>


						<div class="card shadow-sm">
							<div class="card-body">
								<h2>Puesto nuevo</h2>

								<p class="card-text">Crear un puesto nuevo</p>

								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary"
										th:id='crear_nuevo' onclick="modalPuestoNuevo()">Crear</button>
								</div>
							</div>
						</div>


					</div>


				</div>
			</div>
	</main>


	<!-- Footer -->
	<footer class="bg-dark text-white fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<p class="text-white">
						<small>Proyecto FG DAM 2023 Daniel Martí­n Pérez de León</small>
					</p>
					<p class="text-white" style="line-height: 0">
						<a href="https://github.com/DanielMartinPerezdeLeon/ProyectoFG"><small>GitHub</small></a>
					</p>
					<p class="text-white" style="line-height: 0">
						<small>Email: damarpele@gmail.com</small>
					</p>
				</div>
			</div>
		</div>
	</footer>


	<!-- js -->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" th:src="@{/js/puestos.js}"></script>



</body>





</html>